body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link-container {
    display: flex;
}

.hero-secondary,
.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    justify-content: space-around;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}
.info-header,
.info-text,
.quote-text,
.quote-speaker {
    color: #1F2937;
}

.info-text {
    font-size: 18px;
    
}

.info-container {
    display: flex;
}

.info-item {
    max-width: 200px;
}

.quotation {
    background: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-speaker {
    font-size: 18px;
    font-weight: 700;
}


