body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link-container {
    display: flex;
}

.hero-secondary,
.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

